<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou10 | A tool for theater.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-body gray">
    <div class="page-container">
      <!-- Start sidebar -->
      <div class="sidebar-menu">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <div class="logo">
              <%= link_to root_path do %>
                <%= image_tag "thankyou10_logo_150w.png" %>
              <% end %>
            </div>

            <div class="sidebar-collapse">
              <%= link_to '#', class: 'sidebar-collapse-icon' do %>
                <i class="fa fa-bars"></i>
              <% end %>
            </div>

            <div class="sidebar-mobile-menu visible-xs">
              <%= link_to '#', class: 'with-animation' do %>
                <i class="fa fa-bars"></i>
              <% end %>
            </div>
          </header>

          <!-- Side menu area -->
          <ul id="main-menu" class="main-menu">
          </ul>
          <!-- End menu area -->
        </div>
      </div>
      <!-- End sidebar -->

      <div class="main-content">
        <div class="row">
          <!-- Left header area -->
          <div class="col-md-6 col-sm-8 clearfix">
            <ul class="user-info pull-left pull-none-xsm">
              <li class="profile-info dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= image_tag current_user.avatar.url(:xsmall), class: "img-circle" unless current_user.avatar.url.nil? %><%= current_user.name %></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit my profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path %></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- End left header area -->

          <!-- Right header area -->
          <div class="col-md-6 col-sm-4 cleaarfix hidden-xs">
            <ul class="list-inline list-links pull-right">
              <li><%= current_user.company.name %></li>
            </ul>
          </div>
          <!-- End right header area -->
        </div>
        <hr />

        <!-- Flash notices -->
        <% if notice %>
          <div class="alert alert-danger" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>

        <%= yield %>

        <footer class="main">
          &copy; 2016 <strong>ThankYou10</strong> by <a href="http://shelbysolomon.net" target="_blank">Shelby Solomon</a>
        </footer>
      </div>
    </div>
  </body>
</html>
