<!DOCTYPE html>
<html>
  <head>
    <title>ThankYou10 | A tool for theater.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-body login-page login-form login-form-fall login-form-fall-init">
    <div class="login-container">
      <div class="login-header login-caret">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag 'thankyou10_logo.png', class: 'main-logo' %>
          </div>

          <div class="col-md-6 login-heading text-center">
            <h1>A tool for theater.</h1>
            <h3>Collaborate. Study. Rehearse.</h3>
            <p>
              Designed by a group of actors, musicians, directors, and technicians, we built ThankYou10 specifically with <em>you</em> in mind.
              We wanted a single place to collaborate and communicate in a more efficient way.
              Whether it's submitting show notes, making a rehearsal schedule, or studying your script, we help you be more productive than ever before.
            </p>
          </div>
        </div>
      </div>

      <div class="login-form">
        <%= yield %>
      </div>
    </div>

    <footer class="main login">
      &copy; 2016 <strong>ThankYou10</strong> by <a href="http://shelbysolomon.net" target="_blank">Shelby Solomon</a>
    </footer>
  </body>
</html>
